<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Error</title>
</head>
<body>

    <section class="position-relative" style="background: url({{ url_for('static', filename='header.png') }}) no-repeat center center; background-size: cover !important; overflow: hidden !important; background-repeat: no-repeat; background-position: center; height: 250px !important;">
        <div class="container">
            <div class="page-banner d-table w-100 align-middle" style="height: 250px;">
                <div class="page-title d-table-cell align-middle">
                    <h1 class="text-white">Sales Prediction Results</h1>
                    <ul class="breadcrumb bg-transparent text-white m-0 d-inline-flex">
                        <li><a aria-label="home page link" class="text-white pl-2" href="/">Home</a></li>
                        <li class="px-2">/</li>
                        <li><a aria-label="Products list" href="javascript:void(0);" class="active text-white">Sales Prediction Results</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-8 text-center">
                    <h1>Error</h1>
                    <p>An error occurred during prediction. Please try again.</p>
                    <a href="/">Back to Home</a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
