<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Sales Forecasting</title>
</head>
<body>

    <section class="position-relative" style="background: url({{ header_image_url }}) no-repeat center center; background-size: cover !important; overflow: hidden !important; background-repeat: no-repeat; background-position: center; height: 250px !important;">
        <div class="container">
            <div class="page-banner d-table w-100 align-middle" style="height: 250px;">
                <div class="page-title d-table-cell align-middle">
                    <h1 class="text-white">Store Sales Forecasting</h1>
                    <ul class="breadcrumb bg-transparent text-white m-0 d-inline-flex">
                        <li><a aria-label="home page link" class="text-white pl-2" href="/">Home</a></li>
                        <li class="px-2">/</li>
                        <li><a aria-label="Products list" href="javascript:void(0);" class="active text-white">Sales Forecasting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-10">
                    
                    <form action="/predict" method="post" class="p-4 border shadow-lg rounded">
                        <div class="text-center pb-3">
                            <h1>Check Your Sales Forecasting</h1>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 mb-3">
                                <label for="store_nbr" class="form-label">Store Number:</label>
                                <input type="text" class="form-control" id="store_nbr" name="store_nbr">
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="day_of_week" class="form-label">Day of Week</label>
                                <select class="form-select" id="day_of_week" name="day_of_week" required>
                                    <option value="0">Sunday</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                </select>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="cluster" class="form-label">Store Cluster</label>
                                <input type="number" class="form-control" id="cluster" name="cluster" required>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="dcoilwtico" class="form-label">Oil Price (dcoilwtico)</label>
                                <input type="number" step="0.01" class="form-control" id="dcoilwtico" name="dcoilwtico" required>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="sales_lag_1" class="form-label">Previous Day's Sales</label>
                                <input type="number" step="0.01" class="form-control" id="sales_lag_1" name="sales_lag_1" required>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="sales_lag_2" class="form-label">Sales from 2 Days Ago</label>
                                <input type="number" step="0.01" class="form-control" id="sales_lag_2" name="sales_lag_2" required>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="sales_lag_3" class="form-label">Sales from 3 Days Ago</label>
                                <input type="number" step="0.01" class="form-control" id="sales_lag_3" name="sales_lag_3" required>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="sales_lag_4" class="form-label">Sales from 4 Days Ago</label>
                                <input type="number" step="0.01" class="form-control" id="sales_lag_4" name="sales_lag_4" required>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="sales_lag_5" class="form-label">Sales from 5 Days Ago</label>
                                <input type="number" step="0.01" class="form-control" id="sales_lag_5" name="sales_lag_5" required>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="sales_lag_6" class="form-label">Sales from 6 Days Ago</label>
                                <input type="number" step="0.01" class="form-control" id="sales_lag_6" name="sales_lag_6" required>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <label for="sales_lag_7" class="form-label">Sales from a week ago</label>
                                <input type="number" step="0.01" class="form-control" id="sales_lag_7" name="sales_lag_7" required>
                            </div>


                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 ">
                                <input type="checkbox" class="form-check-input" id="onpromotion" name="onpromotion" value="1">
                                <label for="onpromotion" class="form-check-label">On Promotion</label>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                <input type="submit" value="Predict" class="btn btn-primary py-2 w-100">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
