<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Sales Forecasting Result</title>
</head>
<body>

    <section class="position-relative" style="background: url({{ url_for('static', filename='header.png') }}) no-repeat center center; background-size: cover !important; overflow: hidden !important; background-repeat: no-repeat; background-position: center; height: 250px !important;">
        <div class="container">
            <div class="page-banner d-table w-100 align-middle" style="height: 250px;">
                <div class="page-title d-table-cell align-middle">
                    <h1 class="text-white">Sales Prediction Results</h1>
                    <ul class="breadcrumb bg-transparent text-white m-0 d-inline-flex">
                        <li><a aria-label="home page link" class="text-white pl-2" href="/">Home</a></li>
                        <li class="px-2">/</li>
                        <li><a aria-label="Products list" href="javascript:void(0);" class="active text-white">Sales Prediction Results</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-8">
                    <h1 class="my-4 text-center">Sales Prediction Results</h1>
            
                    {% if loading %}
                    <div class="alert alert-info" role="alert">
                        Model is still training. Please wait a moment.
                    </div>
                    {% else %}
                    {% if prediction %}
                        <div class="card-body alert alert-success">
                            <p class="mb-0">Predicted Sales: {{ prediction }}</p>
                        </div>
                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        No prediction results available yet.
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

</body>
</html>
